/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('asserts/img1.jpg') no-repeat center center/cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    z-index: 1;
}

#formContainer {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    z-index: 2;
    position: relative;
    animation: fadeIn 1s ease-in-out, float 6s ease-in-out infinite;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#formContainer:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.form-group {
    margin-bottom: 20px;
    animation: slideInUp 0.5s ease-out;
}

label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
}

select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* From Uiverse.io by mrhyddenn */ 
button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    border-radius: 10px;
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 10px;
  }
  
  button:hover {
    color: #fff;
    border-radius: 10px;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

#technologyRecommendation {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    animation: fadeIn 2s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
